
$font-1:'Outfit', sans-serif;
$font-2:'Manrope', sans-serif;

$color-1: #fff;
$color-2: #120A21;
$color-3: #8B54FF;
$color-4: #617798;
$color-5: #00234B;
$color-6: #FFD80D;
$color-7: #F43FE2;
$color-8: #00234B;
$color-9: #5C28CA;
$bg-color: #FFF4E7;
$bg-color2: #FFE8CE;
$bg-h2: #180D45;
// $bg-color3: #FFF4E7;
